body {
	background-color: #7FFFD4;
}

p { 
 font-family: "Open Sans", Montserrat, Lato, sans-serif;  
}

.employee {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}